__pycache__/chat_connector.cpython-311.pyc
main.py
__pycache__/sentiment_analyzer.cpython-311.pyc
__pycache__/sentiment_meter.cpython-311.pyc
__pycache__/database.cpython-311.pyc
.vscode/settings.json
.vscode/launch.json
mainappcollabe.py
