<!DOCTYPE html>
<html>
<head>
    <title>StreamMatey</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="analog-meter">
        <div class="needle"></div>
    </div>
    WebSocket connection to 'ws://localhost:5000/socket.io/?EIO=4&transport=websocket&sid=ORxEHwdrzbXfhOC0AAAC' failed: Invalid frame header    <div class="light-bar-meter">
        <div class="light red"></div>
        <div class="light red"></div>
        <div class="light red"></div>
        <div class="light red"></div>
        <div class="light red"></div>
        <div class="light green"></div>
        <div class="light green"></div>
        <div class="light green"></div>
        <div class="light green"></div>
        <div class="light green"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="/static/meter.js"></script>
</body>
</html>