<!DOCTYPE html>
<html>
<head>
    <title>StreamMatey</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>StreamMatey</h1>
    <input type='text' id='url-input' placeholder='Enter a YouTube or Twitch URL here...'>
    <button id='create-url-button'>Create URL</button>
    <p id='created-url'></p>
    <button id='copy-url-button' style='display: none;'>Copy URL</button>
    <div class='tutorial'>
        <h2>How to add StreamMatey to your streaming software:</h2>
        <h3>OBS:</h3>
        <a href='https://support.streamelements.com/en/articles/25-adding-an-overlay-to-obs-studio' target='_blank'>Tutorial for OBS</a>
        <h3>StreamElements:</h3>
        <a href='https://blog.streamelements.com/1-minute-twitch-stream-setup-89a6c73c85b9' target='_blank'>Tutorial for StreamElements</a>
        <h3>StreamLabs:</h3>
        <a href='https://www.youtube.com/watch?v=X3zZgxSLbn4' target='_blank'>Tutorial for StreamLabs</a>
    </div>
    <div class="analog-meter">
        <img src="/static/needle.png" class="needle" alt="needle" />
    </div>
    <p id="sentiment-score">Sentiment Score: </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="/static/meter.js"></script>
</body>
</html>
